body,html{
    margin:0px;
    padding:0px;
    height:100%;
    box-sizing :border-box;
    width:100%;
}

.main_contents{
   /* 회색 배경 */
   position: absolute;
    width: 84%;
    height: 100%;
    left: 241px;
    /* top: 1080px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    background: #F5F5F5;
    /* transform: matrix(1, 0, 0, -1, 0, 0);*/
}

.main_contents_title{
   /* 제목-교과과정 편집 */

   position: absolute;
    width: 174px;
    height: 35px;
    left: 80px;
    top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #000000;
}
.content_box{
   /* 흰 바탕 */
   position: relative;
    left: 80px;
    display: flex;
    width: 1090px;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 5%);
    border-radius: 10px;
}
.content_box_title{
   /* 미디어 컨텐츠 교과과정 편집 */

   position: relative;
    width: 237px;
    height: 27px;
    left: 30px;
    top: 20px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}

table{
   position: relative;
   left: 30px;
   top: 30px;
   width: 1000px;
}

tr:first-of-type > th {
   height: 30px;
   background: #F4F4F4;
   border:none;
}

th,td{
   text-align:center;
}

button{
color:#3462DC;
background: #FFFFFF;
border: 1px solid #3462DC;
border-radius: 4px;
}